html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
